<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/bootstrap/js/bootstrap.min.js">
    <link rel="stylesheet" href="public/css/login.css">

    <script src="public/js/jQuery.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script>
        $(document).ready(function() {


            var width = $(window).width();
            var new_width = null;

            if(width <= 650) {
                $("label").css("display", "none");
            }

            $(window).resize(function() {

                //new_width = screen.width;
                new_width = $(window).width();

                if(new_width <= 650) {
                    $("label").css("display", "none");

                }
                else {
                    $("label").css("display", "block");
                }
            });
        });
    </script>

</head>
<body>
<div id="login">
    <div id="logo">
        <img src="public/img/logo_login.png">
    </div>
    <div id="text">
        Enable draggable functionality on any DOM element.

    </div>
    <div id="form">
        <form class="form-horizontal" role="form" style="">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label" style="color: #ffffff;">Login</label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Login">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label" style="color: #ffffff;">Password</label>
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>